
body {
	background-color: black;
}

.song {
	background-color: grey;
	color: white;
	padding: 20px;	
	margin: 10px;
	display: cell;
}

.song-origin {
}

.song-name {
	float: right;
	line-height: 0px;
	margin-top: -10px;
}